@model IEnumerable<EFCoreDemo.Models.PhoneNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhoneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
